In [2]:
%run "./2_Visualizacao_dos_dados.ipynb"

C:/Users/admin/Desktop/EMG_IA_LIT GITHUB/EMG_IA_LIT/EMG-LIT/EMG-S1

In [4]:
df_TT_1

               EMG1      EMG2  class  user
0     -3.588744e-04 -0.000056      9     1
1     -3.778360e-04 -0.000065      9     1
2     -3.917736e-04 -0.000067      9     1
3     -3.930701e-04 -0.000051      9     1
4     -3.933943e-04 -0.000023      9     1
...             ...       ...    ...   ...
19995 -1.028112e-04 -0.000007      9     1
19996 -6.018800e-05  0.000018      9     1
19997 -6.176923e-08  0.000051      9     1
19998  6.784360e-05  0.000087      9     1
19999  1.299146e-04  0.000115      9     1

[20000 rows x 4 columns]