In [2]:
%run "./3_Removendo_Outliers.ipynb"

C:/Users/admin/Desktop/EMG_IA_LIT GITHUB/EMG_IA_LIT/EMG-LIT/EMG-S1

In [3]:
df_TM_1

           EMG1      EMG2  class  user
0     -0.000088 -0.000579      7     1
1     -0.000076 -0.000627      7     1
2     -0.000045 -0.000672      7     1
3     -0.000016 -0.000708      7     1
4     -0.000008 -0.000730      7     1
...         ...       ...    ...   ...
19995  0.000093  0.000538      7     1
19996  0.000061  0.000420      7     1
19997  0.000034  0.000304      7     1
19998  0.000029  0.000190      7     1
19999  0.000049  0.000074      7     1

[20000 rows x 4 columns]