In [1]:
%run "./4_Extracao_Caracteristicas.ipynb"

C:/Users/admin/Desktop/EMG_IA_LIT GITHUB/EMG_IA_LIT/EMG-LIT/EMG-S1

In [3]:
df_L_1

               EMG1      EMG2  class  user
0      4.632831e-04  0.000199      2     1
1      2.125679e-04  0.000193      2     1
2      9.106227e-07  0.000188      2     1
3     -1.524032e-04  0.000185      2     1
4     -2.506147e-04  0.000184      2     1
...             ...       ...    ...   ...
19995  1.971020e-05  0.000511      2     1
19996  8.842590e-05  0.000541      2     1
19997  1.636242e-04  0.000536      2     1
19998  2.115956e-04  0.000498      2     1
19999  1.887444e-04  0.000438      2     1

[20000 rows x 4 columns]