In [1]:
%run "./1_Organizacao_dos_Dados.ipynb"

C:/Users/admin/Desktop/EMG_IA_LIT GITHUB/EMG_IA_LIT/EMG-LIT/EMG-S1

In [2]:
df_R_1

           EMG1      EMG2  class  user
0      0.000246  0.000070      4     1
1      0.000277  0.000135      4     1
2      0.000272  0.000175      4     1
3      0.000234  0.000205      4     1
4      0.000170  0.000243      4     1
...         ...       ...    ...   ...
19995  0.000078 -0.000195      4     1
19996  0.000045 -0.000137      4     1
19997  0.000025 -0.000081      4     1
19998  0.000016 -0.000025      4     1
19999  0.000022  0.000034      4     1

[20000 rows x 4 columns]